.alice-carousel__next-btn {
  display: none;
}
.alice-carousel__prev-btn {
  display: none;
}
.slider {
  width: 100%;
  height: 400px;
}

.sliderimg {
  width: 100%;
  height: max-content;
}
@media (max-width: 576px) {
  .slider {
    height: auto;
  }
}
