:root {
  --animationSpeed: 40s;
}

/* Keyframes for the scroll animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
  cursor: pointer;
}

.slider .slide-track {
  animation: scroll var(--animationSpeed) linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: 100px;
  width: 250px;
}

/* Responsive adjustments for tablets */
@media screen and (max-width: 1024px) {
	:root {
	  --animationSpeed: 30s;
	}
  
	.slider {
	  height: 80px;
	}
  
	.slider .slide {
	  width: 200px;
	}
  }
  /* Responsive adjustments for mobile */

  @media screen and (max-width: 768px) {
	:root {
	  --animationSpeed: 20s;
	}
  
	.slider {
	  height: 60px;
	}
  
	.slider .slide {
	  width: 150px;
	}
  }
  