@media (max-width:1100px) {
    .one-one-cosultation{
        display: none;
    }
    .accordian-sec{
        width: 100% !important;
        display: flex !important;
        align-items: center;
        margin: 0 !important;
        justify-content: center !important;
    }
}
